<div class="row">
        <div class="col-md-3">

                  </div>
<div class="col-md-6">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" method="post" action="/crear_grupo">
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre del Grupo</label>
            <input name="nombre_de_grupo" type="text" class="form-control" id="exampleInputEmail1" placeholder="Grupo">
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer text-center">
          <button type="submit" class="btn btn-flat bg-red">Guardar</button>
        </div>
      </form>
      </div>
  <div class="col-md-3"></div>
</div>