<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <form action="/registrarLibro" method="post">

                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo"><br/>
                 
                <label for="autor">Autor</label>
                <input type="text" id="autor" name="autor"><br/>

                <label for="issn">ISSN/ISSB</label>
                <input type="text" id="issn" name="issn"><br/>

                <label for="autor">Reseña</label>
                <input type="text" id="autor" name="autor"><br/>
                
                <label for="autor">Editorial</label>
                <input type="text" id="autor" name="autor"><br/>
                
                <label for="autor">Portada</label>
                <input type="text" id="autor" name="autor"><br/>
                
                <label for="autor">Link</label>
                <input type="text" id="autor" name="autor"><br/>
                
                <label for="autor">Nùmero de pàginas</label>
                <input type="text" id="autor" name="autor"><br/>

                <label for="autor">Año</label>
                <input type="text" id="autor" name="autor"><br/>

                <input type="submit" value="Enviar" />
                </form>
		</div>
	</div>
</div>