<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
      <div class="box-header with-border">
        <h3 class="box-title">Nuevo Tema</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" method="post" action="/foro/nuevo">
        <div class="box-body">              
         <div class="form-group">
              <label for="exampleInputEmail1">Tema</label>
              <input name="subject" type="text" class="form-control" id="exampleInputEmail1" placeholder="Título del tema">
              <label for="exampleInputEmail1">Mensaje</label>
              <input name="message" type="text" class="form-control" id="exampleInputEmail1" placeholder="Mensaje">
          </div>
        </div>
        <!-- /.box-body -->
        
        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
        <div class="box-footer text-center">
            <button type="submit" class="btn btn-danger btn-block btn-flat">Registrar</button>
          </div>
        </div>        
      </div>
      </form>
      </div>
  <div class="col-md-3"></div>
</div>