<div class="row">
<div class="col-md-2">
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">OPCIONES</li>
        <!-- Optionally, you can add icons to the links -->
        <li>
          <a href="/foro/nuevo">
            <i class="fa fa-th-list"></i> 
            <span>Nuevo Tema</span>
          </a>
        </li>
      </ul>
    </div>
    {%- if resultado -%}
    <div class="col-md-9">
      <!-- /.box -->
      {%- for item in resultado -%}
      <div class="box box-solid">
        <div class="box-header with-border">
          <i class="fa fa-share"></i>                              
          <h3 class="box-title"><a href="/foro/mensajes?id_tema={{ item.id_tema }}">{{ item.titulo }}</a></h3>  
        </div>
        <div class="box-header with-border">                    
          <h5 class="text-muted">Fecha de publicación: {{ item.fecha }}</h5>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <dl class="dl-horizontal">                                
            <dt>Descripción</dt>
            <dd>{{item.mensaje}}</dd>
            <dt>Publicado por</dt>
            <dd>{{ item.autor }}</dd>                                
          </dl>
        </div>
        <!-- /.box-body -->
      </div>
      {%- endfor -%}
      <!-- /.box -->
    </div>
    {%- else -%}
    <div class="col-md-9">
      <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-share"></i>                              
            <h3 class="box-title"><a href=""> Sin temas</a></h3>  
          </div>
          <div class="box-header with-border">                    
            <h5 class="text-muted">Crea un tema de discusión</h5>
          </div>
        </div>
    </div>
    {%- endif -%}
    <div class="col-md-1"></div>
</div>
<!-- ./col -->