    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Contenido Disponible</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>Título</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                  <th>Descripción</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="/render_pdf">Contenido 1</a></td>
                  <td>11-7-2014</td>
                  <td><span class="label label-success">Revisado</span></td>
                  <td>Descripción del contenido.</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="/render_pdf">Contenido 2</a> </td>
                  <td>11-7-2014</td>
                  <td><span class="label label-warning">Pendiente</span></td>
                  <td>Descripción del contenido.</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="/render_pdf">Contenido 3</a></td>
                  <td>11-7-2014</td>
                  <td><span class="label label-warning">Pendiente</span></td>
                  <td>Descripción del contenido.</td>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-2"></div>
    </div>