<div class="row">
        <div class="col-xs-3">
          <p>menu lateral</p>
        </div>
                <div class="col-xs-7">                        
                <!-- Post -->
                <h3 class="box-title"><a href="/mensajes_foro">Tema del foro</a></h3>
                <br>
                <div class="post">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="../static/dist/img/user_esime.jpg" alt="user image">
                        <span class="username">
                          <a href="#">Fabiola Vela.</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description">Publicación comparida - 7:30 PM Hoy</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create awesome
                    tools to help create filler text for everyone from bacon lovers
                    to Charlie Sheen fans.
                  </p>
                  <ul class="list-inline">
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Compartir</a></li>
                    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                    </li>
                    <li class="pull-right">
                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comentarios
                        (1)</a></li>
                  </ul>

                  <input class="form-control input-sm" type="text" placeholder="Escriba un comentario">
                </div>
                <!-- /.post -->

                <!-- Post -->
                <div class="post clearfix">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="../static/dist/img/user_esime.jpg" alt="User Image">
                        <span class="username">
                          <a href="#">Fabiola Vela.</a>
                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                        </span>
                    <span class="description">Mensaje enviado - hace 3 días</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create awesome
                    tools to help create filler text for everyone from bacon lovers
                    to Charlie Sheen fans.
                  </p>

                  <form class="form-horizontal">
                    <div class="form-group margin-bottom-none">
                      <div class="col-sm-9">
                        <input class="form-control input-sm" placeholder="Responder">
                      </div>
                      <div class="col-sm-3">
                        <button type="submit" class="btn btn-danger pull-right btn-block btn-sm">Enviar</button>
                      </div>
                    </div>
                  </form>
                </div>
            
            
          </div>
            <div class="col-xs-2"></div>
</div>
