<div class="row">   
    {%- if eliminado=="True" -%}
    <div class="row"> 
        <div class="col-md-3"></div>
    <div class="col-md-6">       
    <div class="box">
        <div class="box-header">
          <h3 class="box-title text-center text-green">Registro Eliminado Exitosamente</h3>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
    {%-endif-%}    
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title">Usuarios</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>                  
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Perfil</th>                    
                    <th>Accion</th>                    
                </tr>
                </thead>
                <tbody>          
                  {%- for usuario in usuarios -%}
                  {%- if usuario.knd != "Admin" -%}
                  <tr>
                    <td> {{ usuario.Nombre }} </td>    
                    <td> {{ usuario.email }} </td>      
                    <td> {{ usuario.knd }} </td>                    
                    <td><a href="/eliminar?base=usuarios&id={{ usuario.email }}" class="btn btn-danger btn-md"> Eliminar </a></td>                                   
                  </tr>
                  {%- endif -%}
                  {%- endfor -%}
                </tbody>
                <tfoot>
                <tr>                 
                  <th>Nombre</th>               
                  <th>Email</th>
                  <th>Perfil</th>                    
                  <th>Accion</th>                                 
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>       

        <div class="col-md-6">
          <div class="box">
              <div class="box-header">
                <h3 class="box-title">Biblioteca</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>                  
                  <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>ISBN o ISSN</th>                    
                      <th>Accion</th>                    
                  </tr>
                  </thead>
                  <tbody>          
                    {%- for libro in libros -%}                    
                    <tr>
                      <td> {{ libro.id }} </td>    
                      <td> {{ libro.titulo }} </td>      
                      <td> {{ libro.ISSNISBN }} </td>                    
                      <td><a href="/eliminar?base=biblioteca&id={{ libro.id }}" class="btn btn-danger btn-md"> Eliminar </a></td>                                   
                    </tr>                    
                    {%- endfor -%}
                  </tbody>
                  <tfoot>
                  <tr>                 
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>ISBN o ISSN</th>                    
                    <th>Accion</th>                                  
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>            
         <!-- Despliegue de Clases  -->
         <div class="col-md-6">
          <div class="box">
              <div class="box-header">
                <h3 class="box-title">Clases Disponibles</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>                  
                  <tr>
                      <th>ID</th>
                      <th>Tema</th>
                      <th>Creador</th>  
                      <th>Grupo</th>                    
                      <th>Accion</th>                    
                  </tr>
                  </thead>
                  <tbody>
                    {%- for clase in clases -%}
                    <tr>
                      <td> {{ clase.id_tema }} </td>      
                      <td> {{ clase.tema }} </td>      
                      <td> {{ clase.email }} </td>   
                      <td> {{ clase.id_grupo }} </td>                    
                      <td><a href="/eliminar?base=tema&id={{ clase.id_tema }}" class="btn btn-danger btn-md"> Eliminar </a></td>                                   
                    </tr>
                    {%- endfor -%}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Tema</th>
                    <th>Creador</th>                    
                    <th>Grupo</th>  
                    <th>Accion</th>                                 
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>     
          <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Contenido Complementario</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>                  
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>creador</th>                    
                        <th>Accion</th>                    
                    </tr>
                    </thead>
                    <tbody>
                      {%- for mooc in moocs -%}
                      <tr>
                        <td> {{ mooc.id_mooc }} </td>      
                        <td> {{ mooc.titulo }} </td>      
                        <td> {{ mooc.email }} </td>                    
                        <td><a href="/eliminar?base=complementario&id={{ mooc.id_mooc }}" class="btn btn-danger btn-md"> Eliminar </a></td>                                   
                      </tr>
                      {%- endfor -%}
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Titulo</th>
                      <th>Creador</th>                    
                      <th>Accion</th>                                 
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
            </div>     
            <div class="col-md-6">
              <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Temas de Foro</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>                  
                      <tr>
                          <th>ID</th>
                          <th>Titulo</th>
                          <th>Creador</th>                    
                          <th>Accion</th>                    
                      </tr>
                      </thead>
                      <tbody>
                        {%- for mensaje in foro -%}
                        <tr>
                          <td> {{ mensaje.id_tema }} </td>      
                          <td> {{ mensaje.titulo }} </td>      
                          <td> {{ mensaje.autor }} </td>                    
                          <td><a href="/eliminar?base=foro&id={{ mensaje.id_tema }}" class="btn btn-danger btn-md"> Eliminar </a></td>                                   
                        </tr>
                        {%- endfor -%}
                      </tbody>
                      <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Creador</th>                    
                        <th>Accion</th>                                 
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>                         
</div>