<div class="row">
    
  {%- for video in info_video -%}
    <div class="col-md-4">
      <div class="thumbnail">
        <br>
        <a href="/vista_podcast?link={{ video.url }}&titulo={{ video.titulo }}"><img alt="Generic placeholder thumbnail" src="{{ video.portada }}">
        <div class="caption">
          <h3>{{ video.titulo }}</h3>
          <p>{{ video.descripcion }}</p>
          <p>{{ video.fecha_pu }}</p>
        </div>
      </a>
      </div>
    </div>
    {%- endfor -%}
    
  </div>