<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="timeline-item">
        <h3 class="timeline-header"></h3>
        <div class="timeline-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{u}}"
                 frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="timeline-footer text-right">
                <br>
                <a href="/evaluacion?id={{id}}&t={{t}}&a={{a}}" class="btn btn-lg bg-red ">Evaluación</a>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
      </div>
