<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
      <div class="box-header with-border">
        <h3 class="box-title">Nuevo Sitio</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" method="post" action="/nuevoSitio">
        <div class="box-body">              
         <div class="form-group">
              <label for="exampleInputEmail1">Titulo</label>
              <input name="titulo" type="text" class="form-control" id="exampleInputEmail1" placeholder="Título">
              <label for="exampleInputEmail1">Dirección</label>
              <input name="link" type="text" class="form-control" id="exampleInputEmail1" placeholder="Link">
          </div>
        </div>
        <!-- /.box-body -->
        
        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
        <div class="box-footer text-center">
            <button type="submit" class="btn btn-danger btn-block btn-flat">Registrar</button>
          </div>
        </div>        
      </div>
      </form>
      </div>
  <div class="col-md-3"></div>
</div>