<div class="row">
    
  {%- for item in info_audio -%}
    <div class="col-md-4">
        <div class="thumbnail">
            <br>  
            <img alt="Generic placeholder thumbnail" src="{{ item[6] }}">
          <br>    
            <audio class="form-control" src="{{ item[5] }}" controls loop>
                <p>Tu navegador no implementa el elemento audio</p>
            </audio>
            <div class="caption">
              <h3>{{ item[1] }}</h3>
              <p>{{item[2]}}</p>
              <p>{{item[4]}}</p>
            </div>
        </div>
        </div>
        {%- endfor-%}
        
</div>
