<div class="row">
    
  {%- for audio in info_audio -%}
    <div class="col-md-4">
        <div class="thumbnail">
            <br>  
            <img alt="Generic placeholder thumbnail" src="{{ audio.portada }}">
          <br>    
            <audio class="form-control" src="{{ audio.url }}" controls loop>
                <p>Tu navegador no implementa el elemento audio</p>
            </audio>
            <div class="caption">
              <h3>{{ audio.titulo }}</h3>
              <p>{{audio.descip}}</p>
              <p>{{audio.fecha_pu}}</p>
            </div>
        </div>
        </div>
        {%- endfor-%}
        
</div>
