<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <br>
            <audio class="form-control" src="http://d.mimp3.eu/i/AqahSanieWplicooZ6ncaKbiW63/deftones-minerva.mp3" controls loop>
                <p>Tu navegador no implementa el elemento audio</p>
            </audio>
            <div class="caption">
              <h3>Título del Podcast</h3>
              <p>Descripción del Podcast.</p>
            </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
                <br>
                <audio class="form-control" src="http://d.mimp3.eu/i/AqahSanieWplicooZ6ncaKbiW63/deftones-minerva.mp3" controls loop>
                    <p>Tu navegador no implementa el elemento audio</p>
                </audio>
            <div class="caption">
              <h3>Título del Podcast</h3>
              <p>Descripción del Podcast.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
                <br>
                <audio class="form-control" src="http://d.mimp3.eu/i/AqahSanieWplicooZ6ncaKbiW63/deftones-minerva.mp3" controls loop>
                    <p>Tu navegador no implementa el elemento audio</p>
                </audio>
            <div class="caption">
              <h3>Título del Podcast</h3>
              <p>Descripción del Podcast.</p>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
                <br>
                <audio class="form-control" src="http://d.mimp3.eu/i/AqahSanieWplicooZ6ncaKbiW63/deftones-minerva.mp3" controls loop>
                    <p>Tu navegador no implementa el elemento audio</p>
                </audio>
            <div class="caption">
              <h3>Título del Podcast</h3>
              <p>Descripción del Podcast.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-md-4">
          <div class="thumbnail">
                <br>
                <audio class="form-control" src="http://d.mimp3.eu/i/AqahSanieWplicooZ6ncaKbiW63/deftones-minerva.mp3" controls loop>
                    <p>Tu navegador no implementa el elemento audio</p>
                </audio>
            <div class="caption">
              <h3>Título del Podcast</h3>
              <p>Descripción del Podcast.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
                <br>
                <audio class="form-control" src="http://d.mimp3.eu/i/AqahSanieWplicooZ6ncaKbiW63/deftones-minerva.mp3" controls loop>
                    <p>Tu navegador no implementa el elemento audio</p>
                </audio>
            <div class="caption">
              <h3>Título del Podcast</h3>
              <p>Descripción del Podcast.</p>
            </div>
          </div>
        </div>
      </div>