<div class="row">
        
        <div class="col-md-12">
<div class="box">
            <div class="box-header">
              <h3 class="box-title">Resultados de la consulta</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>                  
                <tr>
                    <th>Portada</th>
                    <th>Autor</th>
                    <th>Título</th>
                    <th>Tipo</th>
                    <th>ISBN/ISSN</th>
                    <th>Editorial</th>
                    <th>Idioma</th>
                    <th>Año</th>
                    <th>Reseña</th>
                </tr>
                </thead>
                <tbody>
                  {%- for libro in libros -%}
                  <tr>
                    <td> <img src="{{ libro.portada }}" height="140" width="100"> </td>
                    <td>{{ libro.autor }}</td>
                    <td><a href="/render_pdf?link={{ libro.link }}&titulo={{ libro.titulo }}">{{ libro.titulo }} </a></td>
                    <td>{{ libro.tipo }}</td>
                    <td>{{ libro.ISSNISBN }}</td>
                    <td>{{ libro.editorial }}</td>
                    <td>{{ libro.idioma }}</td>
                    <td>{{ libro.fecha }}</td>
                    <td>{{ libro.resena }}</td>                    
                  </tr>
                  {%- endfor -%}
                </tbody>
                <tfoot>
                <tr>
                  <th>Portada</th>
                  <th>Autor</th>
                  <th>Título</th>
                  <th>Tipo</th>
                  <th>ISBN/ISSN</th>
                  <th>Editorial</th>
                  <th>Idioma</th>
                  <th>Año</th>
                  <th>Reseña</th>                  
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
          <!-- /.box -->
          
</div>