<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
<div class="box">
            <div class="box-header">
              <h3 class="box-title">Visite los sitios con información de interes para su desarrollo</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Links</th>                  
                </tr>
                </thead>
                <tbody>
                  {%- for sitio in sitios -%}
                <tr>
                  <td><a href="{{ sitio.link }}">{{ sitio.titulo }}</a></td>
                </tr>                   
                {%- endfor -%}
                </tbody>
                <tfoot>
                <tr>
                  <th>Links</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
          <!-- /.box -->
          <div class="col-md-2"></div>
</div>