<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
<div class="box">
            <div class="box-header">
              <h3 class="box-title">Visite los sitios con información de interes para su desarrollo</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Links</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><a href="http://www.med.harvard.edu/aanlib/home.html">Atlas Neuro Anatomía Harvard School Medicine</a></td>
                </tr>
                <tr>
                  <td><a href="http://www.nlm.nih.gov/medlineplus/spanish/">MEDLINE</a></td>
                </tr>
                <tr>
                    <td><a href="http://www.insp.mx/">Instituto Nacional de Salud Pública</a></td>
                </tr>
                <tr>
                     <td><a href="http://www.gob.mx/salud/">Secretaría de Salud</a></td>
                </tr>   
                <tr>
                    <td><a href="http://www.cenetec.salud.gob.mx/">Centro Nacional de Excelencia Tecnológica en Salud</a></td>
                </tr>
                <tr>
                    <td><a href="http://www.himfg.edu.mx/interior/heme_db.html">Biblioteca del Hospital Infantil de México</a></td>
                </tr>  
                <tr>
                        <td><a href="http://www.who.int/es/">Organización Mundial de la Salud</a></td>
                    </tr>
                    <tr>
                        <td><a href="http://www.paho.org/hq/?lang=es">Organización Panamericana de la Salud</a></td>
                    </tr> 
                    <tr>
                            <td><a href="http://www.cij.gob.mx/">Centros de Atención Juvenil A.C.</a></td>
                        </tr>                     
                </tbody>
                <tfoot>
                <tr>
                  <th>Links</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
        </div>
          <!-- /.box -->
          <div class="col-md-2"></div>
</div>