<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h5 class="headline text-green">
            <i class="fa fa-thumbs-up text-green"></i>
        </h5>
        <div class="error-content">
            <h3>
                La operación se ha realizado con exito.
            </h3>
            <p class="text-center">
                Regresar al <a href="/foro">foro.</a>
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
